    {% include 'header.html'  %}
    <div class="content">
      <div class="col-md-5 col-md-offset-2 centered">
      <form action = "" method ="post" class="col-md-10 " role="form">
        {% csrf_token %}
        <div class="form-group ">
          <label for="" class="col-md-2 col-form-label">Ag</label>
          {{form.Ag}}
        </div>
        <div class="form-group ">
          <label for="" class="col-md-2 col-form-label">Av</label>
          {{form.Av}}
        </div>
        <div class="form-group">
          <label for="" class="col-md-2 col-form-label">Pd</label>
          {{form.Pd}}
        </div>
        <div class="form-group">
          <label for="" class="col-md-2 col-form-label">Zn</label>
          {{form.Zn}}
        </div>
        <div class="form-group">
          <label for="" class="col-md-2 col-form-label">Cu</label>
          {{form.Cu}}
        </div>
        <button type="submit" class="btn btn-primary">Calcular</button>
      </form>
      </div>
    </div>
    {% include 'footer.html' %}
